*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('https://guikao.files.wordpress.com/2012/01/pokemon_wallpaper01_1680.jpg');
    
}

.content{
    padding: 1rem;
    background-color: #ffffff63;
    height: 100vh;
    width: 100vw;
}

.logo {    
    margin: 0;
    padding: 0;    
}